
* {
    font-family: "Raleway", sans-serif;
    margin: 0;
}

header {
    position: relative;
}

.header {
    width: 100%;
    max-width: 750px;
    margin: 0 auto 0 auto;
    height: 15vh;
}

.site-title {
    font-size: 40px;
    font-weight: 700;
    padding: 5vh 0 0 20px;
}

.site-subtitle {
    text-align: right;
    font-size: 20px;
    padding: 0 20px 0 0;
}

.body {
    display: flex;
    height: 85vh;
    align-content: center;
}

.form, .url-output {
    background-color: #fafafa;
    border-radius: 10px;
}

.form, .url-output {
    width: 80%;
    max-width: 600px;
    margin: auto;
    padding: 30px;
}

input {
    width: 100%;
    line-height: 50px;
    font-size: 20px;
    margin: 15px 0 15px 0;
    padding: 5px;
    border: none;
    border-bottom: 1px solid grey;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0);
}

input:focus, button:focus {
    outline: none;
}

button {
    background-color: grey;
    border: none;
    box-shadow: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    transition: all .2s;
}

button:focus {
    box-shadow: inset 1px 1px 1px 1px darkslategrey;
}

button:hover {
    color: white;
}

button.data-valid {
    background-color: #6edc6e;
}

button#to-index {
    background-color: lightblue;
}

#errors {
    margin: 20px;
    color: darkred;
    text-align: right;
}

.errors-page {
    font-size: 40px;
    text-align: center;
    width: 90%;
    margin: auto;
}

.go-back {
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
    width: 100%;
}

.go-back a {
    color: #5eb5e0;
    text-decoration: none;
}