{# templates/base.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Easy URL shortening, no bull.">
        <meta name="keywords" content="URL,Shortener,URI,Link,Redirect,Slug,Short,Twitter,Facebook,Social Media,Share">
        <meta name="author" content="Daniel Brakke">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}linkst.rip URL shortening{% endblock %}</title>
        <link href="{{ asset("favicon.ico") }}" rel="icon" />
        <link href="{{ asset("build/index.css") }}" rel="stylesheet" />
    </head>
    <body style="background: linear-gradient(103deg, #fcefe7, #cfd6d3)">
        <div id="app-root"></div>
        <script src="{{ asset("build/index.js") }}"></script>
    </body>
</html>
