{# templates/base.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Easy URL shortening with public API">
        <meta name="keywords" content="URL,Shortener,URI,Link,Redirect,Slug,Short,Twitter,Facebook,Social Media,Share,API">
        <meta name="author" content="Daniel Brakke">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:title" content="linkst.rip - nobody likes an ugly url" />
        <meta property="og:description" content="Easy URL shortening with public API" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://linkst.rip/" />
        <meta property="og:image" content="{{ app.request.getSchemeAndHttpHost() ~ asset("logo.gif") }}" />
        <title>linkst.rip - nobody likes an ugly url</title>
        <link href="{{ asset("favicon.ico") }}" rel="icon" />
        <link href="{{ asset("build/index.css") }}" rel="stylesheet" />
        <style>
            #app-background {
                opacity: .5;
                position: absolute;
                width: 100%;
                height: 100%;
            }

            #app-root {
                position: relative;
            }
        </style>
    </head>
    <body>
        <div id="app-background"></div>
        <div id="app-root"></div>
        <script>
            const background = document.getElementById("app-background");

            randHex = (min = 0, max = 255) => {
                return "#000000".replace(/00/g, () => {
                    return (~~(Math.random() * (max - min) + min)).toString(16);
                });
            };

            const lighterShade = randHex(215, 255);
            const darkerShade = randHex(100, 175);
            const randDegrees = Math.random() * (360 - 220) + 220;

            background.style.background = `linear-gradient(${randDegrees}deg, ${darkerShade}, ${lighterShade})`;
        </script>
        <script src="{{ asset("build/index.js") }}"></script>
    </body>
</html>
