{# templates/base.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Easy URL shortening, no bull.">
        <meta name="keywords" content="URL,Shortener,URI,Link,Redirect">
        <meta name="author" content="Daniel Brakke">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}linkst.rip URL shortening{% endblock %}</title>
        <link href="images/favicon.ico" rel="icon" >
        <link href="css/global.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
        <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous">
        </script>
    </head>
    <header>
        {% include "header.html.twig" %}
        {% block header %}
        {% endblock %}
    </header>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
