{# templates/base.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Easy URL shortening with public API">
        <meta name="keywords" content="URL,Shortener,URI,Link,Redirect,Slug,Short,Twitter,Facebook,Social Media,Share,API">
        <meta name="author" content="Daniel Brakke">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}linkst.rip URL shortening{% endblock %}</title>
        <link href="{{ asset("favicon.ico") }}" rel="icon" />
        <link href="{{ asset("build/index.css") }}" rel="stylesheet" />
    </head>
    <body>
        <div id="app-root"></div>
        <script>
            const body = document.getElementsByTagName("body")[0];

            randHex = (min = 0, max = 255) => {
                return "#000000".replace(/00/g, () => {
                    return (~~(Math.random() * (max - min) + min)).toString(16);
                });
            };

            const lighterShade = randHex(215, 255);
            const darkerShade = randHex(100, 175);
            const randDegrees = Math.random() * (360 - 220) + 220;

            body.style.background = `linear-gradient(${randDegrees}deg, ${darkerShade}, ${lighterShade})`;
        </script>
        <script src="{{ asset("build/index.js") }}"></script>
    </body>
</html>
