{# templates/error.html.twig #}

{% extends "base.html.twig" %}

{% block body %}
    <div class="errors-page">
        {{ error }}
    </div>
    <div class="go-back">
        <a href="/">
            Try again.
        </a>
    </div>
{% endblock %}
