{# header.html.twig #}

{% block header %}
    <div class="header">
        <div class="site-title">
            <a href="/">
                linkst.rip
            </a>
        </div>
        <div class="site-subtitle">
            Long links, made easy.
        </div>
    </div>
{% endblock %}
