{# templates/output.html.twig #}
{% extends "base.html.twig" %}

{% block body %}
    <div class="url-output">
        <div class="url">
            {{ dump(link) }}
        </div>
    </div>
{% endblock %}
